#main-box {
    background-color: $blue;
}

#drop-nav {
    background-color: $dark-blue;

    a {
        color: white;
        &:hover{
            background-color: $pink;
        }
    }
}

.bbb:hover {
    color:$pink;
}